@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');

body {
  @apply font-nunito
}

.light{
  @apply bg-sand
}

.dark{
  @apply bg-metal

}

header{
  @apply dark:border-tallow
}


h1 {
  @apply font-extrabold text-2xl text-sand-900/80 dark:text-tallow
}

p {
  @apply text-sand-900/80 dark:text-tallow
}

.board{
  @apply rounded-2xl bg-sand-100/40 shadow-md shadow-sand-800/30 dark:bg-metal-700 dark:shadow-cyprus-900/20 overflow-hidden
}

.border-bottom {
  @apply border-b-2 border-sand-900/50 dark:border-tallow
}

.border-right {
  @apply border-r-2 border-sand-900/50 dark:border-tallow
}

.border-cell {
  @apply border-[0.75px] border-sand-900/30 dark:border-tallow/40
}

.flex-cell {
  @apply flex h-14 w-14 max-w-[10vw] max-h-[10vw] items-center justify-center
}

.cell-input {
  @apply text-cyprus-600 bg-transparent font-extralight dark:text-cyprus-300
}


.cell-conflict {
  @apply text-cedar-700 bg-cedar-300/30 dark:text-cedar-400 dark:bg-cedar-700/30
}


.cell-static {
  @apply text-sand-900/80 font-light dark:text-yuma/60
}

.transition-3 {
  @apply transition-all duration-300
}

.text-cell{
  font-size: clamp(1.5rem, 5.5vw, 2rem);
}

.text-note{
  font-size: clamp(0.5rem, 5vw, 0.75rem);
}

.btn{
  @apply rounded-lg border-2 px-7 py-2 font-bold lowercase shadow-md shadow-sand-800/20 dark:shadow-cyprus-900/20
}

.btn-primary {
  @apply border-cyprus-600 bg-cyprus-600/10 text-cyprus-600 hover:bg-cyprus-600/10 dark:border-cyprus-400 dark:bg-cyprus-600/30 dark:text-cyprus-400
}

.btn-animation{
  @apply hover:py-3 hover:px-14 hover:text-xl active:shadow-md
}

.toggle{
  @apply mr-3 flex h-5 w-9 flex-shrink-0 cursor-pointer items-center rounded-full bg-cyprus-200/10 border-[1px] border-cyprus-600/30 p-1 shadow-inner after:h-[0.6rem] after:w-[0.6rem] after:rounded-full after:bg-cyprus-600 after:duration-100 peer-checked:bg-cyprus-200/30 peer-checked:after:translate-x-[1rem] peer-checked:border-cyprus-600 dark:border-cyprus-600 dark:peer-checked:border-cyprus-400 dark:after:bg-cyprus-400
}

.toggle-label{
  @apply flex flex-row-reverse items-center text-xs font-extrabold uppercase text-cyprus-600 dark:text-cyprus-400
}

.easy{
  @apply btn transition-3 border-emerald-500 bg-emerald-500/10 text-emerald-600 ml-3 dark:border-emerald-400 dark:text-emerald-400 dark:bg-emerald-300/10
}

.medium{
  @apply btn transition-3 border-honey-700 bg-honey-500/10 text-honey-700 ml-3 dark:text-honey dark:border-honey dark:bg-honey/10
}

.hard{
  @apply btn transition-3 border-orange-600 bg-orange-400/10 text-orange-600 ml-3 dark:text-orange-500 dark:border-orange-500 dark:bg-orange-500/10
}

.new-board{
  @apply border-cedar-700 bg-cedar/10 text-cedar-700 hover:bg-cedar/10 dark:border-cedar-500 dark:bg-cedar-700/20 dark:text-cedar-500
}

.note-default {
  @apply text-sand-900/30 dark:text-tallow/40 text-center text-xs font-extrabold
}

.note-highlight{
  @apply text-cyprus-600 dark:text-cyprus-400 text-center text-xs font-extrabold
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}